@CHARSET "ISO-8859-1";

body {
	background: url("../resources/images/background.png");
}

a {
	text-decoration: none;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 96% !important;
	font-family: Calibri;
}

.welcome {
	position: absolute;
	top: 50%;
	left: 38%;
	margin-top: -50px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 32px;
	color: #f5f3e6;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #69b549;
}

#conteudo {
	margin-top: 2px;
	width: 800px;
	margin: 0 auto;
}

.form {
	margin: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#tableName {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bolder;
	font-size: 15px;
}

.nomeExame {
	font-weight: bolder;
}

#cabecalho {
	margin-bottom: 1px;
}

#filtro {
	text-align: right;
}

#menu {
	margin-top: 10px;
}

#login {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#perfil {
	width: 400px;
	margin: 10px auto;
}

#agendamento {
	width: 400px;
	margin: 10px auto;
}

#cad_paciente {
	width: 400px;
	margin: 10px auto;
}

#cad_operador {
	width: 400px;
	margin: 10px auto;
	margin-bottom: 30px;
}

#corpo {
	min-height: 700px;
	margin: 10px;
	background-color: #fafaf4;
	-webkit-border-radius: 5px;
}

#corpoLogin {
	min-height: 350px;
	margin: 10px;
}

#rodape {
	width: 900px;
	margin-top: 10px;
	margin: 0 auto;
}